
<div class="row">
  <div class="col-sm-4">
    <img class="img-fluid"
      src="https://images.vexels.com/media/users/3/154663/isolated/preview/1040feae4f085a107b45bfa5fa927209---cone-de-contato-de-conversa-de-reuni--o-by-vexels.png"
      alt="contatos" width="200" height="200">
  </div>
  <div class="col-sm-8 mt-4">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nome: </label>
        <input type="text" class="form-control" placeholder="Bruno Luis" [(ngModel)]="contato.nome" name="nome" />
      </div>
      <div class="form-group">
        <label>Telefone: </label>
        <input class="form-control" placeholder="(19)989113080" [(ngModel)]="contato.telefone" name="telefone" />
      </div>
      <div class="float-right mb-3">
        <button type="submit" class="btn btn-primary">Gravar</button>
      </div><br><br>
    </form>
  </div>
</div>
